aws_region         = "us-east-1"
availability_zone  = "us-east-1a"
blueprint_id       = "ubuntu_24_04"
bundle_id          = "nano_3_0"
game_allowed_cidrs = ["0.0.0.0/0"]
web_allowed_cidrs  = ["0.0.0.0/0"]
enable_https       = true
letsencrypt_email  = "you@example.com"
